- host = "nushape.it"

%meta{ charset: "utf-8" }
%meta{ :"http-equiv" => "X-UA-Compatible", content: "IE=edge" }
- tagline = "#{TITLE} - heartmade with my hands"
- meta_description = "#{tagline}" # TODO: add description
%meta{ name: "description", content: meta_description }
%meta{ name: "keywords", content: "#{TITLE}, nush, sonia frizzi, heartmade, peluches, sketchbook, pupazzi" }
%meta{ name: "author", content: "Francesco 'makevoid' Canessa" }

%meta{ property: "og:title", content: tagline }
%meta{ property: "og:url", content: "http://{host}" }/
%meta{ property: "og:type", content: "website" }/
%meta{ property: "og:site_name", content: TITLE }/
%meta{ property: "og:image", content: "http://{host}/img/logo_square.png" }/
%meta{ property: "og:description", content: meta_description }/
%meta{ property: "fb:admins", content: "sonia.frizzi makevoid" }/