.center.vcenter
  %p
    %b nushape
  %p
    - email = "soniafrizzi@gmail.com"
    = email

    %a{ href: "https://www.facebook.com/pages/Nush/315648228519099" }
      %img.ico{ src: "/img/fb_ico.png" }


  %p.micro
    web presence by
    %a{ href: "http://makevoid.com" } makevoid
    \- this site is
    %a{ href: "https://github.com/makevoid/nushape" } open source