!!! 5
%html
  - TITLE = "nushape"
  %head
    %title= TITLE
    %link{ rel: "stylesheet", href: "/css/main.css" }
    = partial :metas

  %body
    #container
      %header
        %h1
          %a{ href: "/" }
            %img{ src: "/img/logo.png" }
            /= TITLE
      %nav
        - nav_link_to "Plushies"  , "/peluches"
        - nav_link_to "Sketchbooks",  "/sketchbook"
        - nav_link_to "Contacts"  , "/contacts"
      %section.content{ class: firstpath || "home" }
        = yield
        .clear

    %script{ type: "text/javascript", src: "/js/vendor/jquery.js" }
    %script{ type: "text/javascript", src: "/js/vendor/underscore.js" }
    %script{ type: "text/javascript", src: "/js/vendor/jimagesloaded.js" }
    %script{ type: "text/javascript", src: "/js/app.js" }